<h2>ユーザー編集</h2>
<%= form_with model:@end_user, local:true do |f| %>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control last_name" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control first_name" %>
  </div>
  <div class="form-group">
    <%= f.label :kana_last_name %>
    <%= f.text_field :kana_last_name, class: "form-control kana_last_name" %>
  </div>
  <div class="form-group">
    <%= f.label :kana_first_name %>
    <%= f.text_field :kana_first_name, class: "form-control kana_first_name" %>
  </div>
  <div class="form-group">
    <%= f.label :profile_image %>
    <%= f.attachment_field :profile_image, class: "form-control-file profile_image" %>
  </div>
  <div class="form-group">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, class: "form-control introduction" %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
