<h1>ユーザー情報</h1>
<%= render 'info', end_user: @end_user %>
<div id = "end_user_<%= @end_user.id %>">
  <%= render 'public/relationships/form', end_user: @end_user %>
</div>

<h1>ユーザー詳細</h1>
<table>
  <tr>
    <th></th>
    <th>名前</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= attachment_image_tag @end_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
    <td><%= @end_user.last_name + @end_user.first_name %></td>
    <td><%= @end_user.introduction %></td>
    <% if @end_user == current_end_user %>
      <td><%= link_to '編集', edit_end_user_path(current_end_user) %></td>
    <% end %>
  </tr>
</table>

<h1>投稿一覧</h1>
<%= render 'public/posts/index', posts: @posts %>

<% if @end_user == current_end_user %>
  <%= month_calendar events: @posts do |datetime, posts| %>
    <%= datetime.day %>

    <% posts.each do |post| %>
      <div>
        <%= link_to post.title, post_path(post) %>
      </div>
    <% end %>
  <% end %>
<% end %>