<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">
      <% if @end_user == current_end_user %>

      <% else %>

      <% end %>
    </p>
    <p class="main-visual__content--text">
      <% if @end_user == current_end_user %>
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
      <% else %>

      <% end %>
    </p>
  </div>
</div>
<main class = "main">
  <div class = "main__sidebar">
    <h3 class = "main__sidebar--heading">
      ユーザー情報
    </h3>
    <div class = "user-info">
      <%= render 'info', end_user: @end_user %>
      <div id = "end_user_<%= @end_user.id %>">
        <%= render 'public/relationships/form', end_user: @end_user %>
      </div>
    </div>
    <h3 class="main__sidebar--heading">
      投稿写真一覧
    </h3>
    <div class = "main__sidebar--post-image-index">
      <%= render 'public/posts/posts_images_index', posts: @posts %>
    </div>
    <% if @end_user == current_end_user %>
      <h3 class = "main__sidebar--heading">
        家計簿
      </h3>
      <div class = "main__sidebar--shopping-link">
        <%= link_to end_user_shoppings_path(current_end_user) do %>
          <i class="fas fa-calculator"></i> 家計簿画面へ
        <% end %>
      </div>
      <h3 class = "main__sidebar--heading">
        退会する方はこちら
      </h3>
      <%= link_to end_user_unsubscribe_path(current_end_user) do %>
        退会画面へ
      <% end %>
    <% end %>
  </div>
  <div class = "main__blog">
    <% if @end_user == current_end_user %>
      <h3 class = "main__blog--heading">
        投稿カレンダー
      </h3>
      <div class = "main__blog--post-calendar">
        <% if @end_user == current_end_user %>
          <%= month_calendar events: @posts do |datetime, posts| %>
            <%= datetime.day %>
            <% posts.each do |post| %>
              <div>
                <%= link_to post.title, post_path(post) %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <h3 class = "main__blog--heading">
        <%= @end_user.last_name + @end_user.first_name %>の投稿一覧
      </h3>
      <div class="main__blog--ranking">
        <% if @end_user == current_end_user %>
          <%= link_to 'フォロワー数順',end_users_follower_ranking_path %>
          <%= link_to '投稿数順', end_users_post_ranking_path %>
        <% else %>
          <%= link_to '投稿順', posts_path %>
          <%= link_to 'いいね数順', posts_favorited_ranking_path %>
          <%= link_to 'コメント数順', posts_commented_ranking_path %>
        <% end %>
      </div>
      <div class = "main__blog--post-index">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
    <% end %>
  </div>
</main>