<h1>ユーザー情報</h1>
<%= render 'info', end_user: @end_user %>

<h1>ユーザー詳細</h1>
<table>
  <tr>
    <th></th>
    <th>名前</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= attachment_image_tag @end_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
    <td><%= @end_user.last_name + @end_user.first_name %></td>
    <td><%= @end_user.introduction %></td>
    <% if @end_user == current_end_user %>
      <td><%= link_to '編集', edit_end_user_path(current_end_user) %></td>
    <% end %>
  </tr>
</table>

<h1>投稿一覧</h1>
<%= render 'public/posts/index', posts: @posts %>