<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class="main-form">
  <h3 class = "main__sidebar--heading">
    お問い合わせ内容確認画面
  </h3>
  <div class = "main-form__information-form">
    <table class = "main-form__information-form--field">
      <tbody>
        <tr>
          <td class="text-center" style="width: 30%;">お名前</td>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <td class="text-center">メッセージ</td>
          <td style="white-space: pre-wrap;"><%= @contact.message %></td>
        </tr>
        <tr>
          <td>
            <%= form_with model:@contact, url:contacts_path, method: :post, local: true  do |f| %>
              <%= f.hidden_field :name %>
              <%= f.hidden_field :email %>
              <%= f.hidden_field :phone_number %>
              <%= f.hidden_field :subject %>
              <%= f.hidden_field :message %>
              <div><%= f.submit '送信' %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= form_with model:@contact, url: contacts_back_path, local: true do |f| %>
              <%= f.hidden_field :name %>
              <%= f.hidden_field :email %>
              <%= f.hidden_field :phone_number %>
              <%= f.hidden_field :subject %>
              <%= f.hidden_field :message %>
              <div><%= f.submit '入力画面に戻る' %></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>