<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class="main">
  <%= form_with model:@contact, url: contacts_confirm_path, method: :post, local: true do |f| %>
    <table>
      <tr>
        <td><%= f.label :name, 'お名前' %></td>
        <td><%= f.text_field :name, autofocus: true, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :email, '返信先メールアドレス' %></td>
        <td><%= f.email_field :email, autofocus: true, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :phone_number, '電話番号' %></td>
        <td><%= f.text_field :phone_number, autofocus: true, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :subject, 'お問い合わせ件名' %></td>
        <td><%= f.select :subject, Contact.subject_names.keys, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :message, 'メッセージ' %></td>
        <td><%= f.text_area :message, size: '20x10', class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.submit '入力内容確認' %></td>
      </tr>
    </table>
  <% end %>
</main>
