<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class = "main">
  <div class = "main__sidebar">
    <% if end_user_signed_in? %>
      <h3 class = "main__sidebar--heading">
        ユーザー情報
      </h3>
      <div class = "user-info">
        <%= render 'public/end_users/info', end_user: current_end_user %>
      </div>
      <div id = "end_user_<%= current_end_user.id %>">
        <%= render 'public/relationships/form', end_user: current_end_user %>
      </div>
    <% end %>
    <h3 class="main__sidebar--heading">
      投稿写真一覧
    </h3>
    <div class = "main__sidebar--post-image-index">
      <%= render 'public/posts/posts_images_index', posts: @posts %>
    </div>
    <h3 class = "main__sidebar--heading">
      ランキング
    </h3>
    <div class="main__blog--ranking">
      <%= link_to '投稿順', posts_path %>
      <%= link_to 'いいね数', posts_favorited_ranking_path %>
      <%= link_to 'コメント数', posts_commented_ranking_path %>
    </div>
  </div>
  <div class = "main__blog">
    <h3 class = "main__blog--heading">
      タグリスト
    </h3>
    <div class = "main__blog--tag-list">
      <% @tag_list.each do |list| %>
        <%= link_to list.name, tag_posts_path(tag_id: list.id) %>
      <% end %>
    </div>
    <h3 class = "main__blog--heading">
      いいねランキング
    </h3>
    <div class = "main__blog--post-index">
      <%= render 'index', posts: @favorited_ranking_posts %>
    </div>
  </div>
</main>