<h1>ユーザー情報</h1>
<%= render 'public/end_users/info', end_user: current_end_user %>

<h1>投稿一覧</h1>
<%= link_to '投稿順', posts_path %>
<%= link_to 'いいね数順', posts_favorited_ranking_path %>
<%= link_to 'コメント数順', posts_commented_ranking_path %>
<%= render 'index', posts: @favorited_ranking_posts %>
