<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class = "main">
  <div class = "main__sidebar">
    <h3 class = "main__sidebar--heading">
      ユーザー情報
    </h3>
    <div class = "user-info">
      <%= render 'public/end_users/info', end_user: current_end_user %>
    </div>
    <div id = "end_user_<%= current_end_user.id %>">
      <%= render 'public/relationships/form', end_user: current_end_user %>
    </div>
  </div>
  <div class = "main__blog">
    <h3 class = "main__blog--heading">
      新規投稿
    </h3>
    <div class="main__blog--new">
      <%= form_with model:@post,local:true do |f| %>
      <table>
        <tr>
          <td><%= f.label :start_time, '日にち' %></td>
          <td><%= f.date_field :start_time, class: 'form-control datetime' %></td>
        </tr>
        <tr>
          <td><%= f.label :title, 'タイトル' %></td>
          <td><%= f.text_field :title, class: 'form-control post_title' %></td>
        </tr>
        <tr>
          <td><%= f.label :explain, '概要' %></td>
          <td><%= f.text_area :explain, class: 'form-control post_explain' %></td>
        </tr>
        <tr>
          <td><%= f.label :image, '写真' %></td>
          <td><%= f.attachment_field :image, class: 'form-control post_image' %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.select :three_meals, Post.three_meals.keys, class: 'form-control post_image' %></td>
        </tr>
        <tr>
          <td><%= f.label :cooking_method, '料理方法' %></td>
          <td><%= f.text_area :cooking_method, class: 'form-control post_cooking_method' %></td>
        </tr>

        <tr id="star">
          <td>レビュー</td>
        </tr>

        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path(image_url('star-off.png')) %>',
          starOn : '<%= asset_path(image_url('star-on.png')) %>',
          starHalf: '<%= asset_path(image_url('star-half.png')) %>',
          scoreName: 'post[rate]',
          half: true,
        });
        </script>

        <tr>
          <td><%= f.submit  '投稿', class: 'btn btn-success' %></td>
        </tr>
    </table>
    <% end %>
  </div>
</main>