<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class = "main">
  <div class = "main__sidebar">
    <h3 class = "main__sidebar--heading">
        ユーザー情報
    </h3>
    <% if end_user_signed_in? %>
      <div class = "user-info">
        <%= render 'public/end_users/info', end_user: current_end_user %>
      </div>
      <div id = "end_user_<%= current_end_user.id %>">
        <%= render 'public/relationships/form', end_user: current_end_user %>
      </div>
    <% end %>
  </div>
  <div class = "main__blog">
    <h3 class = "main__blog--heading">
      タグリスト
    </h3>
    <div class = "main__blog--tag-list">
      <% @tag_list.each do |list| %>
        <%= link_to list.name, tag_posts_path(tag_id: list.id) %>
        <%= "(#{list.posts.count})" %>
      <% end %>
    </div>
    <h3 class = "main__blog--heading">
      タグが「<%= "#{@tag.name}" %>」の投稿一覧
    </h3>
    <div class="main__blog--post">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</main>