<h1>投稿詳細</h1>

<table>
  <tr>
    <th></th>
    <th>タイトル</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= attachment_image_tag @post, :image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
    <td class = "post-star" data-score = "<%= @post.rate %>"></td>
    <td><%= @post.title %><td>
    <td><%= @post.three_meals %></td>
    <td><%= @post.explain %></td>
    <td><%= @post.cooking_method %></td>
    <td>
      <% if @post.end_user_id == current_end_user.id %>
        <% if @post.release_status == true %>
          <p>公開中</p>
        <% else %>
          <p>非公開</p>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if @post.end_user_id == current_end_user.id %>
        <%= link_to '編集', edit_post_path(@post) %>
      <% end %>
    </td>
  </tr>
</table>
<script>
  $('.post-star').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
<div id = "post_<%= @post.id %>">
  <%= render 'public/favorites/favorite',post: @post %>
</div>
<%= render 'public/post_comments/post_comment', post: @post, post_comment: @post_comment %>