フォロー
<%= link_to end_user.followers.count, end_user_relationships_follows_path(end_user) %>
フォロワー
<%= link_to end_user.followeds.count, end_user_relationships_followers_path(end_user) %><br>
<% if end_user_signed_in? %>
  <% if end_user.id == current_end_user.id %>
    <%= link_to edit_end_user_path(end_user) do %>
      <button class="btn btn-secondary btn-lg">
        <i class="fas fa-user-cog"></i> プロフィール編集
      </button>
    <% end %>
  <% else %>
    <% if current_end_user.following?(end_user) %>
      <%= link_to end_user_unfollow_path(end_user), method: :post, remote: true do %>
        <button class="btn btn-secondary btn-lg">
          フォローを外す
        </button>
      <% end %>
    <% else %>
      <%= link_to end_user_follow_path(end_user), method: :post, remote: true do %>
        <button class="btn btn-secondary btn-lg">
          フォローする
        </button>
      <% end %>
    <% end %>
  <% end %>
 <% end %>