<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class="main-form">
  <p class = "main-form__heading-title">
    新規登録
  </p>
  <div class = "main-form__information-form">
    <%= form_with model:@end_user, url:end_user_registration_path, local:true do |f| %>
      <div class = "error_messages">
        <%= render "public/end_users/shared/error_messages", resource: resource %>
      </div>

      <table class="main-form__information-form--field">
        <tr>
          <td>
            <%= f.label :姓 %></br>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </td>
          <td>
            <%= f.label :名 %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :セイ %><br />
            <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
          </td>
          <td>
            <%= f.label :メイ %><br />
            <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :パスワード（確認用） %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
        <tr>
          <td class = "actions">
            <%= f.submit "新規登録", class:"button" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</main>
