<%= form_with model:shopping, url:end_user_shoppings_path, local:true do |f| %>
  <table>
    <tr>
      <td><%= f.label :start_time, 'お買い物日' %></td>
      <td><%= f.date_field :start_time, class: 'form-control buy_date' %></td>
    </tr>
    <tr>
      <td><%= f.label :total_price, '合計金額' %></td>
      <td><%= f.text_field :total_price, class: 'form-control total_price' %>円</td>
    </tr>
    <tr>
      <td><%= f.label :image, '写真' %></td>
      <td><%= f.attachment_field :image, class: 'form-control post_image' %></td>
    </tr>
    <tr>
      <td><%= f.submit '登録', class: 'btn btn-success' %></td>
    </tr>
  </table>
<% end %>