<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class = "main">
  <div class = "main__sidebar">
    <h3 class = "main__sidebar--heading">
      ユーザー情報
    </h3>
    <div class = "user-info">
      <%= render 'public/end_users/info', end_user: current_end_user %>
      <div id = "end_user_<%= current_end_user.id %>">
        <%= render 'public/relationships/form', end_user: current_end_user %>
      </div>
    </div>
  </div>
  <div class = "main__blog">
    <h3 class = "main__blog--heading">
      買い物情報編集画面
    </h3>
    <div class="main__blog--edit">
      <%= form_with model:@shopping, url:end_user_shopping_path, method: :patch, local:true do |f| %>
        <table>
          <tr>
            <td><%= f.label :buy_date, 'お買い物日' %></td>
            <td><%= f.date_field :start_time, class: 'form-control buy_date' %></td>
          </tr>
          <tr>
            <td><%= f.label :total_price, '合計金額' %></td>
            <td><%= f.text_field :total_price, class: 'form-control total_price' %></td>
          </tr>
          <tr>
            <td><%= f.label :image, '写真' %></td>
            <td><%= f.attachment_field :image, class: 'form-control post_image' %></td>
          </tr>
          <tr>
            <td><%= f.submit '更新', class: 'btn btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</main>