<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class = "main">
  <div class = "main__sidebar">
    <h3 class = "main__sidebar--heading">
      投稿ユーザー情報
    </h3>
    <div class = "user-info">
      <%= render 'public/end_users/info', end_user: current_end_user %>
      <div id = "end_user_<%= current_end_user.id %>">
        <%= render 'public/relationships/form', end_user: current_end_user %>
      </div>
    </div>
    <h3 class = "main__sidebar--heading">
      新規お買い物登録
    </h3>
    <div class="main__sidebar--new-shopping-form">
      <%= render 'new', shopping: @new_shopping %>
    </div>
  </div>
  <div class="main__blog">
    <h3 class = "main__blog--heading">
        家計簿カレンダー
    </h3>
    <div class = "main__blog--post-calendar">
      <%= month_calendar events: @shoppings do |datetime, shoppings| %>
        <%= datetime.day %>

        <% shoppings.each do |shopping| %>
          <div>
            <%= link_to end_user_shopping_path(current_end_user,shopping) do %>
              <%= shopping.total_price %>円
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>

