<h2>買い物情報登録画面</h2>
<%= form_with model:@shopping, url:end_user_shoppings_path, local:true do |f| %>
  <div class="form-group">
    <%= f.label :buy_date %>
    <%= f.date_select :buy_date, class: 'form-control buy_date' %>
  </div>
  <div class="form-group">
    <%= f.label :total_price %>
    <%= f.text_field :total_price, class: 'form-control total_price' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.attachment_field :image, class: 'form-control post_image' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>