<h2>お買い物情報詳細画面</h2>
<table>
  <tr>
    <th></th>
    <th>タイトル</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= attachment_image_tag @shopping, :image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
    <td><%= @shopping.buy_date %></td>
    <td><%= @shopping.total_price %>円</td>
    <td><%= link_to '編集', edit_end_user_shopping_path(current_end_user,@shopping) %></td>
    <td><%= link_to '削除', end_user_shopping_path(current_end_user,@shopping), method: :delete %></td>
  </tr>
</table>
<h2>お買い物詳細情報画面</h2>
<table>
  <tr>
    <th></th>
    <th>タイトル</th>
    <th></th>
    <th></th>
  </tr>
  <% @foods.each do |food| %>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.amount %></td>
    <td><%= food.price %></td>
    <td><%= link_to '編集', edit_food_path(food) %></td>
    <td><%= link_to '削除', food_path(food), method: :delete %></td>
  </tr>
  <% end %>
</table>
<h2>お買い物詳細情報登録</h2>
<%= form_with model:@food, url:foods_path, local:true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control name' %>
  </div>
  <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control amount' %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control price' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>