<main class = "main">
  <div class="main__blog">
    <h3 class = "main__blog--heading">
      投稿詳細
    </h3>
    <div class="main__blog--index">
      <table>
        <tr>
          <td><%= attachment_image_tag @post, :image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
          <td><%= @post.title %><td>
          <td><%= @post.three_meals %></td>
          <td><%= @post.explain %></td>
          <td><%= @post.cooking_method %></td>
          <td>
            <% if @post.release_status == true %>
              <p>公開中</p>
            <% else %>
              <p>非公開</p>
            <% end %>
          </td>
          <td>
            <% if @post.is_deleted == false %>
              <p>有効</p>
            <% else %>
              <p>無効</p>
            <% end %>
          </td>
          <td><%= link_to '編集', edit_admin_post_path(@post) %></td>
        </tr>
      </table>
    </div>
  </div>
</main>