<% if end_user_signed_in? %>
  <div class="comment_form__comment-index">
    <% post.post_comments.each do |comment| %>
      <table>
        <td>
          <%= attachment_image_tag comment.end_user, :profile_image, :fill, 100, 100, fallback: 'no_image.jpg' %><br>
          <%= link_to comment.end_user.last_name, end_user_path(comment.end_user_id) %>
        </td>
        <td><%= comment.comment %></td>
        <% if comment.end_user_id == current_end_user.id %>
          <td><%= link_to '削除', post_post_comment_path(comment.post,comment), method: :delete %></td>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="comment_form__new">
    <%= form_with(model:[post, post_comment], local: true) do |f| %>
      <table>
        <tr>
          <td><%= f.text_area :comment %></td>
        </tr>
        <tr>
          <td><%= f.submit '送信' %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>