<header>
  <nav class="navbar-list">
    <% if end_user_signed_in? %>
      <li><%= link_to '新規投稿', new_post_path %></li>
      <li><%= link_to 'マイページ', end_user_path(current_end_user) %></li>
      <li><%= link_to '投稿一覧',  posts_path %></li>
      <li><%= link_to 'ユーザー一覧',  end_users_path %></li>
      <li><%= link_to '家計簿',  end_user_shoppings_path(current_end_user) %></li>
      <li><%= link_to 'お問い合わせ',  new_contact_path %></li>
      <li><%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %></li>
    <% elsif admin_signed_in? %>
      <li><%= link_to '投稿一覧',  admin_posts_path %></li>
      <li><%= link_to 'ユーザー一覧',  admin_end_users_path %></li>
      <li><%= link_to 'ジャンル一覧',  admin_genres_path %></li>
      <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to ' About',  about_path %></li>
      <li><%= link_to ' 投稿一覧', posts_path %></li>
      <li><%= link_to ' 新規登録', new_end_user_registration_path %></li>
      <li><%= link_to ' ログイン', new_end_user_session_path %></li>
      <li><%= link_to 'お問い合わせ',  new_contact_path %></li>
    <% end %>
  </nav>
</header>